<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Formulario Dinámico</nb-card-header>
            <nb-card-body>
                <div class="input-group" *ngFor="let campo of formulario" [ngSwitch]="campo.tipo">
                    <input type="text" *ngSwitchCase="'string'" class="form-control" [(ngModel)]="campo.valor" placeholder="{{campo.label}}">
                    <input type="date" *ngSwitchCase="'fecha'" class="form-control" [(ngModel)]="campo.valor">
                    <input type="checkbox" *ngSwitchCase="'bool'" class="custom-control-input" [(ngModel)]="campo.valor">
                    <nb-checkbox *ngSwitchCase="'bool'" [(ngModel)]="campo.valor">{{campo.label}}</nb-checkbox>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>JSON</nb-card-header>
            <nb-card-body>
                <pre>
{{
formulario | json
}}
                </pre>
            </nb-card-body>
        </nb-card>
    </div>
</div>