<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Organizaciones
            </nb-card-header>
            <nb-card-body>
                <div *ngFor="let org of treeJson; let i = index">
                    <a class="icon-container" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        <h3> <i [hidden]="isCollapsed" class="nb-arrow-down"></i><i [hidden]="!isCollapsed" class="nb-arrow-right"></i> Organización # {{i+1}} </h3>
                    </a>
                    <div id="collapseExample" [ngbCollapse]="isCollapsed">
                        <nb-card>
                            <nb-card-body>
                                <form class="form-horizontal">
                                    <div class="form-group row" *ngFor="let campo of org.Item" [ngSwitch]="campo.tipo">
                                        <label for="{{campo.label}}" class="col-sm-2 form-control-label">{{campo.label}}</label>
                                        <div class="col-sm-9">
                                            <input type="range" [(ngModel)]="campo.valor" *ngSwitchCase="'range'" id="{{campo.label}}" class="form-control">
                                            <input type="text" [(ngModel)]="campo.valor" *ngSwitchCase="'S'" id="{{campo.label}}" [ngModelOptions]="{standalone: true}" class="form-control">
                                            <input type="date" [(ngModel)]="campo.valor" *ngSwitchCase="'date'" id="{{campo.label}}" class="form-control">
                                            <input type="number" [(ngModel)]="campo.valor" *ngSwitchCase="'N'" id="{{campo.label}}" class="form-control">
                                            <input type="email" [(ngModel)]="campo.valor" *ngSwitchCase="'email'" id="{{campo.label}}" class="form-control">
                                            <textarea type="text" [(ngModel)]="campo.valor" *ngSwitchCase="'area'" id="{{campo.label}}" class="form-control"></textarea>
                                            <nb-checkbox *ngSwitchCase="'B'" [(ngModel)]="campo.valor" id="{{campo.label}}"></nb-checkbox>
                                        </div>
                                    </div>
                                </form>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Organizaciones
            </nb-card-header>
            <nb-card-body>
                <pre>
    {{organizationTree | json}}
</pre>
                <pre>
    {{treeJson | json}}
</pre>
            </nb-card-body>
        </nb-card>
    </div>
</div>