<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <nb-tabset>
                <nb-tab tabTitle="Filtro">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <ngx-proyectos (getProject)="getOrg($event)"></ngx-proyectos>
                            <ngx-dinamicform [normalform]="myform1" (result)="getFiltro1($event)"></ngx-dinamicform>
                            <div class="row justify-content-center">
                                <div class="card">
                                    <button type="button" class="btn btn-primary btn-sm" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                                        aria-controls="collapseExample">
                                        <label [hidden]="!isCollapsed"> Mostrar todos los filtros</label>
                                        <label [hidden]="isCollapsed"> Ocultar filtros</label>
                                    </button>
                                </div>
                                <div class="card">
                                    <button type="button" class="btn btn-success btn-sm" (click)="filtrar()">
                                        <label> Filtrar </label>
                                    </button>
                                </div>
                            </div>
                            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                <div class="card">
                                    <div class="card-body">
                                        <ngx-dinamicform [normalform]="myform2" (result)="getFiltro2($event)"></ngx-dinamicform>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Selección de Iteraciones">
                </nb-tab>
                <nb-tab tabTitle="Clusterización">
                    <nb-card>
                        <nb-card-body>
                            <ng2-smart-table [settings]="settings" [source]="data">
                            </ng2-smart-table>
                        </nb-card-body>
                    </nb-card>
                    <nb-card>
                        <nb-card-body>
                            <button (click)="iniciarIteracion()" class="btn btn-success btn-sm">
                                <i class="nb-play"></i> {{iniciarIter}}
                                <small>({{data?.length}})</small>
                            </button>
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
            </nb-tabset>
        </div>
    </div>
</div>